@charset "UTF-8";
.center{
	text-align:center;
}
.right{
	text-align:right;
}
.left{
	text-align:left;
}
div#header{
	background-color:#c0c0c0;
	color:#ffffff;
	text-align:right;
}
div#header span{
	color:##ff0000;
}
.alert{
	color:#ffffff;
	text-align:center
}